@font-face {
  font-family: "Almoni-regular";
  src: url("../Assets/fonts/almoni-regular-aaa.otf") format("opentype");
}
@font-face {
  font-family: "Almoni-medium";
  src: url("../Assets/fonts/almoni-tzar-medium-aaa.otf") format("opentype");
}

@font-face {
  font-family: "Almoni-bold";
  src: url("../Assets/fonts/almoni-bold-aaa.otf") format("opentype");
}

:root {
  --black: #3f3f3f;
  --white: #fdfdfd;
  --pink: #e93380;
  --creame: #ebeae4;
  --cream-2: #f3f2ec;
  --light-grey: #f5f5f5;
  --grey: #dfdfdf;
  --dark-grey: #a4a4a4;
  --form-text-grey: #828282;
  --font-almoni-regular: "Almoni-regular";
  --font-almoni-medium: "Almoni-medium";
  --font-almoni-bold: "Almoni-bold";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-almoni-regular);
  font-size: 1.05rem;
  color: var(--black);
}

main {
  text-align: right;
  padding: 1.7rem 2.5rem;
  line-height: 2.5rem;
}

.hero h1 {
  margin: 0rem 0 3rem;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.backGroundImg {
  width: calc(100% + 5rem);
  margin-top: 5rem;
  margin-right: -2.5rem;
  min-height: 50vh;
  object-fit: cover;
  object-position: 35%;
}

.subGrid {
  font-weight: bold;
  margin-bottom: 1.8rem;
}

.store {
  margin-top: 5rem;
}

.pinkBtn {
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  main {
    padding: 1.7rem 6rem;
  }

  .heroBtn {
    margin: unset;
  }

  .backGroundImg {
    width: calc(100% + 12rem);
    margin-right: -6rem;
    margin-top: 2rem;
  }

  .desc {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  .desc > p {
    width: 43ch;
  }
}
