:root {
  --black: #3f3f3f;
  --white: #fdfdfd;
  --pink: #e93380;
  --creame: #ebeae4;
  --cream-2: #f3f2ec;
  --light-grey: #f5f5f5;
  --grey: #dfdfdf;
  --dark-grey: #a4a4a4;
  --form-text-grey: #828282;
  --font-almoni-regular: "Almoni-regular";
  --font-almoni-medium: "Almoni-medium";
  --font-almoni-bold: "Almoni-bold";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(253, 253, 253, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Ensures it spans the full width */
  z-index: 1000; /* Makes sure the navbar stays above other content */
  backdrop-filter: blur(1rem);
}

body {
  margin-top: 8rem; /* Adjusts the body content to avoid overlap with the fixed navbar */
}

nav svg {
  transform: scale(0.8);
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.links-left {
  display: none;
}
.search > * {
  vertical-align: middle;
}

.search svg {
  margin-right: 0.5rem;
}

.search {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--black);
  font-weight: 500;
  transition: color 0.8s ease;
}

.search span {
  opacity: 0;
  transform: translateX(-1rem);
  color: var(--pink);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search:hover svg path,
.search:hover span {
  stroke: var(--pink);
  opacity: 1;
  transform: translateX(0);
}

.navList {
  display: none;
}

.hidden {
  display: none;
}

/* .logoImg,
.search-right,
.cart {
  display: none;
} */

.searchBar {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid var(--form-text-grey);
}

.searchBarMobileIcon {
  position: absolute;
  left: 2rem;
}

/* Side Menu */

.side-menu {
  position: absolute;
  top: 0;
  right: -1rem;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.9);
  backdrop-filter: blur(1rem);
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-y: auto;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  font-family: var(--font-almoni-medium);
  display: flex;
  flex-direction: column; /* Items stack vertically */
  gap: 2rem; /* Add spacing between items */
}

.side-menu ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Ensure items are vertically aligned */
  flex-shrink: 1; /* Allow items to shrink when the screen shrinks */
  flex-wrap: wrap; /* Wrap content if it overflows */
}

.side-menu ul li a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--black);
  vertical-align: middle;
  flex-shrink: 1; /* Allow the link text to shrink if necessary */
  word-break: break-word; /* Prevent long words from breaking the layout */
}

.side-menu.hidden {
  transform: translateX(100%);
}

.side-menu-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem; /* Add space between links */
  flex-wrap: wrap; /* Allow links to wrap if they don't fit */
}

.side-menu-links .links path {
  stroke: var(--white);
  stroke-width: 0.01rem;
  fill: var(--pink);
}

.side-menu .leng {
  font-weight: bold;
}

.side-menu .leng > * {
  margin-inline: 0.2rem;
}

.side-menu .leng span {
  font-weight: 400;
  opacity: 0.6;
  font-size: 0.6rem;
}

.specialLi {
  position: relative;
}

.specialLi:hover .popup {
  visibility: visible;
  opacity: 1;
}

.sub-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 2.5rem;
  margin-top: 6.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.first-submenu-item {
  font-size: 1.8rem;
  font-weight: 500;
}

.hidden {
  display: none;
}

.popup {
  position: absolute;
  top: 3rem;
  display: flex;
  left: -22rem;
  flex-direction: row;
  width: 33rem;
  background-color: rgb(245, 245, 245);
  border-radius: 1rem;
  /* backdrop-filter: blur(0.5rem); */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.popup > * {
  flex: 1;
}

.popup-right {
  padding: 1rem;
}

.popup-right > * {
  line-height: 1.8rem;
}

/* .popup-right ul li {
  font-size: 0.9rem;
} */

.popup-left {
  padding: 1rem;
}

.popup-left img {
  width: 100%;
}

@media (min-width: 404px) {
  .side-menu {
    max-width: 25rem;
  }
}

@media (min-width: 1200px) {
  .links-right {
    display: none;
  }
  .searchBar {
    width: 60%;
  }

  .links-left {
    display: flex;
  }

  .navList {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .hidden {
    display: none;
  }

  #searchBarMobileIcon {
    display: none;
  }
  #searchBarMobile {
    display: none;
  }

  .links.links-left .line {
    opacity: 0.3;
    font-size: 0.5rem;
    margin-inline: 0.5rem;
  }

  .cart:hover path {
    stroke: #e93380;
  }
}
